<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">

            <meta name="viewport" content="initial-scale=1, maximum-scale=1">
                <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
                      />
                </head>
                <body>
                    <div class="container">
                        <header>
                            This is the header
                            <img th:src="@{/resources/images/spitter_logo_50.png}" />
                        </header>
                        <div layout:fragment="page-content">
                            Wow
                        </div>
                        <footer>

                        </footer>
                    </div>
                </body>
                </html>
