<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Spittr</title>
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/resources/style.css}"></link>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    </head>
    <body>
        <div layout:fragment="page-content">
            <form  class="form-horizontal" method="POST" th:object="${SpitterForm}" enctype="multipart/form-data" th:action="@{/register}">
                <div class="errors" th:if="${#fields.hasErrors('*')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}"
                            th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label th:class="${#fields.hasErrors('firstName')}? 'error'" class="col-xs-2">
                        First Name</label>:
                    <div class="col-xs-4">
                        <input type="text" th:field="*{firstName}"
                               th:class="${#fields.hasErrors('firstName')}? 'error'" class="form-control" placeholder="Your First Name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label th:class="${#fields.hasErrors('lastName')}? 'error'" class="col-xs-2">
                        Last Name</label>:
                    <input type="text" th:field="*{lastName}"
                           th:class="${#fields.hasErrors('lastName')}? 'error'" class="form-control" placeholder="Your Last Name" />
                </div>

                <div class="form-group">
                    <label th:class="${#fields.hasErrors('email')}? 'error'" class="col-xs-2">
                        Email</label>:
                    <input type="text" th:field="*{email}"
                           th:class="${#fields.hasErrors('email')}? 'error'"  class="form-control" placeholder="Your Email"/>
                </div>

                <div class="form-group">
                    <label th:class="${#fields.hasErrors('username')}? 'error'" class="col-xs-2">
                        Username</label>:
                    <input type="text" th:field="*{username}"
                           th:class="${#fields.hasErrors('username')}? 'error'" class="form-control" placeholder="Your Username" />
                </div>
                <div class="form-group">

                    <label th:class="${#fields.hasErrors('profilePicture')}? 'error'" class="col-xs-2">Profile Picture</label>:
                    <input type="file"
                           name="profilePicture" th:field="*{profilePicture}"
                           th:class="${#fields.hasErrors('profilePicture')}? 'error'" 
                           accept="image/jpeg,image/png,image/gif" class="form-control" placeholder="Your Username" />
                </div>

                <div class="form-group">
                    <label th:class="${#fields.hasErrors('password')}? 'error'" class="col-xs-2">
                        Password</label>:
                    <input type="password" th:field="*{password}"
                           th:class="${#fields.hasErrors('password')}? 'error'" class="form-control" placeholder="Your Password"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary btn-xs"/>
                    <input type="reset" value="Reset" class="btn btn-default btn-xs"/>
                </div>
            </form>
        </div>
    </body>
</html>
